<mat-grid-list cols="2">
  <mat-grid-tile-header>
    <app-admin-buttons [nr] = 2 ></app-admin-buttons>
  </mat-grid-tile-header>
  <mat-grid-tile>
    <table mat-table class="mat-elevation-z8" style = 'width: 80%' [dataSource]="dataSource" multiTemplateDataRows>
      <ng-container matColumnDef="Order Id">
        <th mat-header-cell *matHeaderCellDef> Order Id </th>
        <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
      </ng-container>
      <ng-container matColumnDef="User Name">
        <th mat-header-cell *matHeaderCellDef> User Name </th>
        <td mat-cell *matCellDef="let element"> {{element.user.username}} </td>
      </ng-container>
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Adress </th>
        <td mat-cell *matCellDef="let element"> {{element.adress}} </td>
      </ng-container>
      <ng-container matColumnDef="Completed">
        <th mat-header-cell *matHeaderCellDef> Completed </th>
        <td mat-cell *matCellDef="let element"> {{element.completed}} </td>
      </ng-container>
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <button  mat-raised-button (click)="deleteOrder(element.orderId)">delete</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
          (click)="changeOrder(row)"
          [ngClass]="{'selected-order': selectOrder == row}"></tr>
    </table>
  </mat-grid-tile>
  <mat-grid-tile  class="product_style">
    <app-cart-view [orderToDisplay]="selectOrder?.orderId" [isAdmin]=true ></app-cart-view>
  </mat-grid-tile>
</mat-grid-list>
